@media only screen and (max-width:375px){
	.container{
		width:330px;
		height:730px;
		margin-left:22px;
		margin-top:50px;
	}
	.content{
		height:203px;
		padding:20px;
	}
	.botto{
		display:flex;
		flex-direction:column;
	}
	.top h2{
		font-size:20px;
	}
	.top h4{
		font-size:15px;
	}
	.tupperware{
		width:300px;
	}
	.top p{
		font-size:15px;
		line-height:20px;
	}
	.left{
		width:88%;
		border-radius:0px;
	}
	.left h5{
		font-size:16px;
	}
	.button{
		width:170px;
		position:relative;
		top:-10px;
	}
	.right{
		width:88%;
		border-bottom-left-radius:10px;
	}
	.right li{
		line-height:21px;
	}
}
